
!Command: Checkpoint cmd vdc 1
!Time: Tue Jan 18 02:46:25 2022

version 9.3(3) Bios:version  
feature license smart

hostname sandbox-nxos-1
class-map type network-qos c-nq1
  description Default class on qos-group 1
  match qos-group 1
class-map type network-qos c-nq2
  description Default class on qos-group 2
  match qos-group 2
class-map type network-qos c-nq3
  description Default class on qos-group 3
  match qos-group 3
class-map type network-qos c-8q-nq1
  description Default class on qos-group 1
  match qos-group 1
class-map type network-qos c-8q-nq2
  description Default class on qos-group 2
  match qos-group 2
class-map type network-qos c-8q-nq3
  description Default class on qos-group 3
  match qos-group 3
class-map type network-qos c-8q-nq4
  description Default class on qos-group 4
  match qos-group 4
class-map type network-qos c-8q-nq5
  description Default class on qos-group 5
  match qos-group 5
class-map type network-qos c-8q-nq6
  description Default class on qos-group 6
  match qos-group 6
class-map type network-qos c-8q-nq7
  description Default class on qos-group 7
  match qos-group 7
class-map type network-qos c-nq-default
  description Default class on qos-group 0
  match qos-group 0
class-map type network-qos c-8q-nq-default
  description Default class on qos-group 0
  match qos-group 0
policy-map type network-qos default-nq-policy
  class type network-qos c-nq3
    mtu 1500
  class type network-qos c-nq2
    mtu 1500
  class type network-qos c-nq1
    mtu 1500
  class type network-qos c-nq-default
    mtu 1500
policy-map type network-qos default-8q-nq-policy
  class type network-qos c-8q-nq7
    mtu 1500
  class type network-qos c-8q-nq6
    mtu 1500
  class type network-qos c-8q-nq5
    mtu 1500
  class type network-qos c-8q-nq4
    mtu 1500
  class type network-qos c-8q-nq3
    mtu 1500
  class type network-qos c-8q-nq2
    mtu 1500
  class type network-qos c-8q-nq1
    mtu 1500
  class type network-qos c-8q-nq-default
    mtu 1500
vdc sandbox-nxos-1 id 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 511
  limit-resource u4route-mem minimum 248 maximum 248
  limit-resource u6route-mem minimum 96 maximum 96
  limit-resource m4route-mem minimum 58 maximum 58
  limit-resource m6route-mem minimum 8 maximum 8

!#feature ssh
!#ssh key rsa 1024
feature nxapi
feature bash-shell
feature scp-server
feature vrrp
cfs eth distribute
nv overlay evpn
feature ospf
feature bgp
feature pim
feature fabric forwarding
feature netconf
feature restconf
feature grpc
feature port-security
feature interface-vlan
feature vn-segment-vlan-based
feature hsrp
feature lacp
feature dhcp
feature lldp
clock protocol none vdc 1
feature nv overlay
feature telemetry

role name priv-15
  description This is a system defined privilege role.
  rule 1 permit read-write
role name priv-14
  description This is a system defined privilege role.
  rule 1 permit read-write
role name priv-13
  description This is a system defined privilege role.
role name priv-12
  description This is a system defined privilege role.
role name priv-11
  description This is a system defined privilege role.
role name priv-10
  description This is a system defined privilege role.
role name priv-9
  description This is a system defined privilege role.
role name priv-8
  description This is a system defined privilege role.
role name priv-7
  description This is a system defined privilege role.
role name priv-6
  description This is a system defined privilege role.
role name priv-5
  description This is a system defined privilege role.
role name priv-4
  description This is a system defined privilege role.
role name priv-3
  description This is a system defined privilege role.
role name priv-2
  description This is a system defined privilege role.
role name priv-1
  description This is a system defined privilege role.
role name priv-0
  description This is a system defined privilege role.
  rule 10 permit command traceroute6 *
  rule 9 permit command traceroute *
  rule 8 permit command telnet6 *
  rule 7 permit command telnet *
  rule 6 permit command ping6 *
  rule 5 permit command ping *
  rule 4 permit command ssh6 *
  rule 3 permit command ssh *
  rule 2 permit command enable *
  rule 1 permit read
username admin password 5 $5$QHsjkRNS$AmVcv7uxx4xYtWYCiinb.T5Jmkzm1rQ7G0ccMjXqzIC  role network-admin
username yang password 5 $5$cdfEMsoX$8puAJBF08SCRVlZ4ifu3ViFRtGnUmsEvOg82Um1Kk51  role network-admin
username yang passphrase  lifetime 99999 warntime 14 gracetime 3
username user1 password 5 $5$ZPQ1x09k$siygk7jW1GuVRq5LcnwuB37T4Z1cYdyyFq5HQoKq5e7  role network-operator
username user1 passphrase  lifetime 99999 warntime 14 gracetime 3
username user2 password 5 $5$OlaTTYj1$DD/5zGdutKyIgqkSxCBpxYnqaCdUM3/YKW7HJLXTIc3  role network-operator
username user2 passphrase  lifetime 99999 warntime 14 gracetime 3
username user3 password 5 $5$m25nsAdB$6iQR4RKa8l1ws9tjSrSs50LCPRniJkfTwzCmEu9QPX6  role network-operator
username user3 passphrase  lifetime 99999 warntime 14 gracetime 3

banner motd ^Welcome to the DevNet Always On Sandbox for Open NX-OSThis is a shared sandbox available for anyone to use totest APIs, explore features, and test scripts.  Pleasekeep this in mind as you use it, and respect others use.The following programmability features are already enabled:  - NX-API  - NETCONF, RESTCONF, gRPC  - Native NX-OS and OpenConfig YANG ModelsThanks for stopping by.^


banner exec @this is my exec bannerthat contains a multilinestring@

ip domain-lookup
ip domain-name cisco.com
ip name-server 8.8.4.4 8.8.8.8
radius-server host 172.16.1.12 key 7 "VwritosWsgsziGio" authentication accounting
radius-server host 172.16.1.13 key 7 "VwritosWsgsziGio" authentication accounting
logging message interface type ethernet description
object-group ip address NON_VISP_POOLS_V4
  240 75.224.0.0/18
  250 75.224.64.0/18
object-group ip address acl_ldx
object-group ip address add_ldx
  10 host 1.1.1.1
  20 2.2.2.0/24
  40 3.3.3.0 255.255.255.0
  50 4.4.4.0 0.0.0.255
object-group ip address add_ldx_2
  10 2.2.2.0/24
  20 3.3.3.0 255.255.255.0
  30 host 1.1.1.1
  40 4.4.4.0 0.0.0.255
  50 host 5.5.5.5
object-group ip port port_ld
object-group ip port port_ldx
  10 eq 53
  30 range 100 1000
object-group ip port port_ldx_2
  10 eq 53
  30 range 100 1000
  40 eq 999
object-group ip port port_test
  10 range 161 162
  20 eq 80
object-group ip port port_test2
  10 range 1000 11005
  20 eq 49
object-group ip port port_test2_1
  10 eq 23
  20 eq 100
  30 range 1000 1005
object-group ip address test
  10 host 1.1.1.1
  20 host 2.2.2.2
object-group ip address test1
  10 host 2.2.2.2
  20 host 1.1.1.1
object-group ip port test2
object-group ip address test2_dst_addr
  10 host 10.10.1.1
  20 10.10.1.2/31
  30 10.10.1.4/30
  40 10.10.1.8/29
  50 10.10.1.16/30
  60 host 10.10.1.20
object-group ip address test2_dst_addr_1
  10 host 111.10.1.1
  20 111.10.1.2/31
  30 111.10.1.4/30
  40 111.10.1.8/29
  50 111.10.1.16/30
  60 host 111.10.1.20
object-group ip address test2_src_addr_1
  10 host 11.10.1.1
  20 11.10.1.2/31
  30 11.10.1.4/30
  40 11.10.1.8/29
  50 11.10.1.16/28
  60 11.10.1.32/27
  70 11.10.1.64/26
  80 11.10.1.128/26
  90 11.10.1.192/29
  100 host 11.10.1.200
object-group ip address test3_dst_addr
  10 host 112.10.1.1
  20 112.10.1.2/31
  30 112.10.1.4/30
  40 112.10.1.8/29
  50 112.10.1.16/30
  60 host 112.10.1.20
object-group ip address test3_src_addr
  10 host 12.10.1.1
  20 12.10.1.2/31
  30 12.10.1.4/30
  40 12.10.1.8/29
  50 12.10.1.16/28
  60 12.10.1.32/27
  70 12.10.1.64/26
  80 12.10.1.128/26
  90 12.10.1.192/29
  100 host 12.10.1.200
object-group ip address test3_srcaddr
  10 12.10.0.0/16
  20 11.11.0.0/16
object-group ip address test_dst_addr
  10 host 10.1.1.1
  20 10.1.1.2/31
  30 10.1.1.4/30
  40 10.1.1.8/29
  50 10.1.1.16/30
  60 host 10.1.1.20
object-group ip address test_src_addr
object-group ip address test_src_addr_1
  10 host 1.1.1.1
  20 host 1.1.1.10
object-group ip address test_src_addr_2
  10 host 1.1.1.1
  20 1.1.1.2/31
  30 1.1.1.4/30
  40 1.1.1.8/31
  50 host 1.1.1.10
ip access-list 69
  10 permit ip 192.168.130.95/32 any
  20 permit ip 192.168.52.246/32 any
  30 permit ip 192.168.38.64/32 any
  40 permit ip 192.168.38.65/32 any
  50 permit ip 192.168.12.0/24 any
  60 permit ip 192.168.52.208/28 any
  70 permit ip 192.168.52.224/29 any
  80 permit ip 192.168.52.232/29 any
  90 permit ip 192.168.130.96/29 any
  100 permit ip 192.168.21.0/28 any
  110 permit ip 192.168.22.0/28 any
  120 permit ip 192.168.171.0/27 any
  130 deny ip any any log
ip access-list ACL1v4
  50 deny tcp any lt 55 192.0.2.64 0.0.0.255 ack fin
ip access-list ACL_TEAMS_AUDIO
  10 permit udp any range 50000 50019 any
  20 permit tcp any range 50000 50019 any
ip access-list ACL_TEAMS_SHARING
  10 permit udp any range 50040 50059 any
  20 permit tcp any range 50040 50059 any
ip access-list ACL_TEAMS_VIDEO
  10 permit udp any range 50020 50039 any
  20 permit tcp any range 50020 50039 any
mac access-list MAC-ACL01
ip access-list NON_VISP_POOLS_V4
ipv6 access-list acl1
ip access-list acl_ldx
  statistics per-entry
  10 permit ip addrgroup add_ldx any
  18 permit ip any any
  20 permit tcp addrgroup add_ldx 1.2.4.8/32 eq domain
  30 permit tcp addrgroup add_ldx any portgroup port_ldx
  40 permit icmp any any echo
  50 permit tcp 1.1.1.0 255.255.255.0 any
  60 permit tcp 1.1.1.0 0.0.0.255 any
  70 permit icmp any any
  80 permit icmp any any mask-request
  90 permit icmp any any time-exceeded
  100 permit icmp any any 0 0
  110 permit icmp addrgroup add_ldx addrgroup add_ldx host-unknown
  120 permit tcp 1.1.1.1/32 addrgroup addr_ldx eq www time-range test
  130 permit tcp 1.1.1.1/32 addrgroup add_ldx eq www time-range test
  140 permit tcp any portgroup port_ldx any portgroup port_ldx
  150 permit tcp addrgroup tes1_srcaddr 10.1.1.1/32 eq 443
  160 permit tcp addrgroup test_src_addr_2 addrgroup test_dst_addr portgroup port_test
  170 permit tcp addrgroup test_src_addr_2 addrgroup test_dst_addr portgroup port_test2
  180 permit icmp addrgroup test_src_addr_2 addrgroup test_dst_addr8
  220 permit icmp addrgroup test_src_addr_2 addrgroup test_dst_addr echo log
  300 permit icmp addrgroup test_src_addr_2 addrgroup test_dst_addr echo log
  310 permit tcp addrgroup test_src_addr_2 addrgroup test_dst_addr portgroup port_test
  320 remark ############test2 used for test_start##########
  330 permit icmp addrgroup test_src_addr_2 addrgroup test_dst_addr echo
  340 remark ############test2 used for test_end############
  350 permit icmp addrgroup test_src_addr_2 addrgroup test_dst_addr echo time-range test_4
  360 remark ############policy test_start##########
  370 permit tcp addrgroup test2_src_addr addrgroup test2_dst_addr portgroup port_test2_1 time-range test2
  380 permit icmp addrgroup test2_src_addr addrgroup test2_dst_addr 8 4 time-range test2
  390 remark ############policy test_end############
  400 permit tcp addrgroup test2_src_addr addrgroup test2_dst_addr time-range test2
ip access-list fg-test
  statistics per-entry
  2 permit udp any eq domain any
  3 permit udp any any eq domain
  15 permit ip any 224.0.0.0 0.0.0.255
  35 remark ############policy test_start##########
  45 permit tcp addrgroup test2_src_addr addrgroup test2_dst_addr time-range test2
  55 permit icmp addrgroup test2_src_addr addrgroup test2_dst_addr 8 4 time-range test2
  65 remark ############policy test_end############
  1220100 remark Ooo_01
  1220101 permit tcp 1.10.1.1/32 10.10.1.1/32
  1220102 permit tcp 1.10.1.1/32 10.10.1.2/31
  1220103 permit tcp 1.10.1.1/32 10.10.1.4/30
  1220104 permit tcp 1.10.1.1/32 10.10.1.8/29
  1220105 permit tcp 1.10.1.1/32 10.10.1.16/30
  1220106 permit tcp 1.10.1.1/32 10.10.1.20/32
  1220107 permit icmp 1.10.1.1/32 10.10.1.1/32
  1220108 permit icmp 1.10.1.1/32 10.10.1.2/31
  1220109 permit icmp 1.10.1.1/32 10.10.1.4/30
  1220110 permit icmp 1.10.1.1/32 10.10.1.8/29
  1220111 permit icmp 1.10.1.1/32 10.10.1.16/30
  1220112 permit icmp 1.10.1.1/32 10.10.1.20/32
  1220200 remark Ooo_02
  1220201 permit tcp 1.10.1.1/32 10.10.1.1/32
  1220202 permit tcp 1.10.1.1/32 10.10.1.2/31
  1220203 permit tcp 1.10.1.1/32 10.10.1.4/30
  1220204 permit tcp 1.10.1.1/32 10.10.1.8/29
  1220205 permit tcp 1.10.1.1/32 10.10.1.16/30
  1220206 permit tcp 1.10.1.1/32 10.10.1.20/32
  1220207 permit icmp 1.10.1.1/32 10.10.1.1/32
  1220208 permit icmp 1.10.1.1/32 10.10.1.2/31
  1220209 permit icmp 1.10.1.1/32 10.10.1.4/30
  1220210 permit icmp 1.10.1.1/32 10.10.1.8/29
  1220211 permit icmp 1.10.1.1/32 10.10.1.16/30
  1220212 permit icmp 1.10.1.1/32 10.10.1.20/32
  1220300 remark Ooo_03
  1220301 permit tcp 1.10.1.1/32 10.10.1.1/32
  1220302 permit tcp 1.10.1.1/32 10.10.1.2/31
  1220303 permit tcp 1.10.1.1/32 10.10.1.4/30
  1220304 permit tcp 1.10.1.1/32 10.10.1.8/29
  1220305 permit tcp 1.10.1.1/32 10.10.1.16/30
  1220306 permit tcp 1.10.1.1/32 10.10.1.20/32
  1220307 permit icmp 1.10.1.1/32 10.10.1.1/32
  1220308 permit icmp 1.10.1.1/32 10.10.1.2/31
  1220309 permit icmp 1.10.1.1/32 10.10.1.4/30
  1220310 permit icmp 1.10.1.1/32 10.10.1.8/29
  1220311 permit icmp 1.10.1.1/32 10.10.1.16/30
  1220312 permit icmp 1.10.1.1/32 10.10.1.20/32
  1220322 permit tcp addrgroup test2_src_addr portgroup port_src_test2 addrgroup test2_dst_addr portgroup port_dst_test2
  1220364 remark policy test
  1220365 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 range 10 100 time-range test2
  1220366 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 eq www time-range test2
  1220367 permit icmp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 8 4 time-range test2
  1220369 remark policy test
  1220370 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 range 10 100 time-range test2
  1220371 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 eq www time-range test2
  1220372 permit icmp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 8 4 time-range test2
  1220374 remark policy test
  1220375 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 range 10 100 time-range test2
  1220376 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 eq www time-range test2
  1220377 permit icmp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 8 4 time-range test2
  1220378 remark policy test
  1220379 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 range 10 100 time-range test2
  1220380 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 eq www time-range test2
  1220381 permit icmp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 8 4 time-range test2
  1220391 remark policy test
  1220401 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 range 10 100 time-range test2
  1220411 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 eq www time-range test2
  1220421 permit icmp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 8 4 time-range test2
  1220441 remark policy test
  1220451 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 range 10 100 time-range test2
  1220461 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 eq www time-range test2
  1220471 permit icmp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 8 4 time-range test2
  1220491 remark policy test
  1220501 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 range 10 100 time-range test2
  1220511 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 eq www time-range test2
  1220521 permit icmp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 8 4 time-range test2
  1220541 remark policy test
  1220551 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 range 10 100 time-range test2
  1220561 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 eq www time-range test2
  1220571 permit icmp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 8 4 time-range test2
  1220591 remark policy test
  1220601 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 range 10 100 time-range test2
  1220611 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 eq www time-range test2
  1220621 permit icmp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 8 4 time-range test2
  1220641 remark policy test
  1220651 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 range 10 100 time-range test2
  1220661 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 eq www time-range test2
  1220671 permit icmp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 8 4 time-range test2
  1220691 remark policy test
  1220701 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 range 10 100 time-range test2
  1220711 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 eq www time-range test2
  1220721 permit icmp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 8 4 time-range test2
  1220741 remark policy test
  1220751 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 range 10 100 time-range test2
  1220761 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 eq www time-range test2
  1220771 permit icmp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 8 4 time-range test2
  1220791 remark policy test
  1220801 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 range 10 100 time-range test2
  1220811 permit tcp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 eq www time-range test2
  1220821 permit icmp addrgroup test2_src_addr_1 addrgroup test2_dst_addr_1 8 4 time-range test2
  1220841 remark policy test
  1220851 permit tcp addrgroup test3_src_addr range 10 100 addrgroup test3_dst_addr range 10 100 time-range test2
  1220861 permit tcp addrgroup test3_src_addr addrgroup test3_dst_addr eq www time-range test2
  1220871 permit icmp addrgroup test3_src_addr addrgroup test3_dst_addr 8 4 time-range test2
  1220891 remark policy test
  1220901 permit tcp 12.10.0.0/16 range 10 100 12.10.0.0/16 range 10 100 time-range test2
  1220911 permit tcp 12.10.0.0/16 12.10.0.0/16 eq www time-range test2
  1220921 permit icmp 12.10.0.0/16 12.10.0.0/16 8 4 time-range test2
  1220941 remark policy test
  1220951 permit tcp addrgroup test3_srcaddr range 10 100 addrgroup test3_srcaddr range 10 100 time-range test2
  1220961 permit tcp addrgroup test3_srcaddr addrgroup test3_srcaddr eq www time-range test2
  1220971 permit icmp addrgroup test3_srcaddr addrgroup test3_srcaddr 8 4 time-range test2
  1220991 remark policy test
  1221001 permit tcp addrgroup test3_srcaddr range 10 100 addrgroup test3_srcaddr range 10 100 time-range test2
  1221011 permit tcp addrgroup test3_srcaddr addrgroup test3_srcaddr eq www time-range test2
  1221021 permit icmp addrgroup test3_srcaddr addrgroup test3_srcaddr 8 4 time-range test2
  1221031 deny ip any any log
  1221100 remark test_11
  1221101 permit tcp 12.10.0.0/16 12.10.0.0/16
  1221102 permit tcp 12.10.0.0/16 11.11.0.0/16
  1221103 permit tcp 11.11.0.0/16 12.10.0.0/16
  1221104 permit tcp 11.11.0.0/16 11.11.0.0/16
  1221105 permit tcp 12.10.0.0/16 12.10.0.0/16
  1221106 permit tcp 12.10.0.0/16 11.11.0.0/16
  1221107 permit tcp 11.11.0.0/16 12.10.0.0/16
  1221108 permit tcp 11.11.0.0/16 11.11.0.0/16
  1221109 permit icmp 12.10.0.0/16 12.10.0.0/16
  1221110 permit icmp 12.10.0.0/16 11.11.0.0/16
  1221111 permit icmp 11.11.0.0/16 12.10.0.0/16
  1221112 permit icmp 11.11.0.0/16 11.11.0.0/16
ip access-list fg-tet
ip access-list ldx_test
ip access-list ldx_text
ip access-list test
  10 permit ip 192.0.2.1/32 any log
  20 permit ip 192.0.2.2/32 any log
  30 permit ip 192.0.2.3/32 any log
  40 permit ip 192.0.2.4/32 any log
  50 permit ip 192.0.2.5/32 any log
  60 permit icmp any any 8 0
  70 permit icmp any any general-parameter-problem
ip access-list test2
  220100 remark test
ip access-list tet-acl
  10 permit tcp 192.168.5.101/32 192.168.4.101/32 eq 22
  20 deny ip any any
time-range add_ldx
time-range ldx_test
time-range port_ldx
time-range test
  30 absolute start 0:0:0 1 October 2022
time-range test2
  10 absolute start 0:0:0 27 January 2021 end 0:0:0 24 February 2022
time-range test_1
time-range test_2
time-range test_3
time-range test_4
  10 absolute start 0:0:0 27 January 2022 end 0:0:0 24 February 2022
qos statistics
class-map type qos match-any TEAMS_AUDIO
  match access-group name ACL_TEAMS_AUDIO
  match dscp 46
class-map type qos match-any TEAMS_VIDEO
  match access-group name ACL_TEAMS_VIDEO
  match dscp 34
class-map type qos match-any TEAMS_SHARING
  match access-group name ACL_TEAMS_SHARING
  match dscp 18
class-map type queuing match-any c-out-q3
  match qos-group 3
class-map type queuing match-any c-out-q2
  match qos-group 2
class-map type queuing match-any c-out-q1
  match qos-group 1
class-map type queuing match-any c-out-q-default
class-map type queuing match-any c-out-8q-q7
  match qos-group 7
class-map type queuing match-any c-out-8q-q6
  match qos-group 6
class-map type queuing match-any c-out-8q-q5
  match qos-group 5
class-map type queuing match-any c-out-8q-q4
  match qos-group 4
class-map type queuing match-any c-out-8q-q3
  match qos-group 3
class-map type queuing match-any c-out-8q-q2
  match qos-group 2
class-map type queuing match-any c-out-8q-q1
  match qos-group 1
class-map type queuing match-any c-out-8q-q-default
class-map type queuing match-any c-in-q7
  match qos-group 7
class-map type queuing match-any c-in-q6
  match qos-group 6
class-map type queuing match-any c-in-q5
  match qos-group 5
class-map type queuing match-any c-in-q4
  match qos-group 4
class-map type queuing match-any c-in-q3
  match qos-group 3
class-map type queuing match-any c-in-q2
  match qos-group 2
class-map type queuing match-any c-in-q1
  match qos-group 1
class-map type queuing match-any c-in-q-default
policy-map type qos QOS-TEAMS
  class TEAMS_AUDIO
    set dscp 46
    set qos-group 5
  class TEAMS_VIDEO
    set dscp 34
    set qos-group 5
  class TEAMS_SHARING
    set dscp 18
    set qos-group 5
policy-map type queuing c-out-8q-q7
  class type queuing c-out-8q-q7
    priority level 1
policy-map type queuing default-out-policy
  class type queuing c-out-q3
    priority level 1
  class type queuing c-out-q2
    bandwidth remaining percent 0
  class type queuing c-out-q1
    bandwidth remaining percent 0
  class type queuing c-out-q-default
    bandwidth remaining percent 100
policy-map type queuing default-8q-out-policy
  class type queuing c-out-8q-q7
    priority level 1
  class type queuing c-out-8q-q6
    bandwidth remaining percent 0
  class type queuing c-out-8q-q5
    bandwidth remaining percent 0
  class type queuing c-out-8q-q4
    bandwidth remaining percent 0
  class type queuing c-out-8q-q3
    bandwidth remaining percent 0
  class type queuing c-out-8q-q2
    bandwidth remaining percent 0
  class type queuing c-out-8q-q1
    bandwidth remaining percent 0
  class type queuing c-out-8q-q-default
    bandwidth remaining percent 100
copp profile strict
no system mode maintenance
snmp-server contact admin@example.com
snmp-server location Paris, France
snmp-server source-interface traps mgmt0
snmp-server user yang network-admin auth md5 0xb8d6e2df22475ad9efb32f6617a23c95 priv 0xb8d6e2df22475ad9efb32f6617a23c95 localizedkey
snmp-server user user1 network-operator auth sha 0x8b37a6c534651237b92e1734b08510757a777886 priv aes-128 0xd6b14265fb58dea293fc8f64d81fa5dacf145670 localizedkey
snmp-server user user2 network-operator auth sha 0x38036a0c7f9da594b483fd55be63bec667c09180 priv aes-128 0xde809c8328af63d875b4d02957f584d069fbdcaf localizedkey
snmp-server user user3 network-operator auth sha 0x9ec41d7d7791db197bb6e069276ab615bc7eb49e priv aes-128 0x1464cba27fe4f9e72447a1bc419e099fbd103534 localizedkey
snmp-server user admin auth md5 0xe296d8d231ffa9be6276fd4c513b40a8 priv 0xe296d8d231ffa9be6276fd4c513b40a8 localizedkey engineID 128:0:0:9:3:0:187:44:252:27:1
rmon event 1 description FATAL(1) owner PMON@FATAL
rmon event 2 description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 description ERROR(3) owner PMON@ERROR
rmon event 4 description WARNING(4) owner PMON@WARNING
rmon event 5 description INFORMATION(5) owner PMON@INFO
snmp-server enable traps callhome event-notify
snmp-server enable traps callhome smtp-send-fail
snmp-server enable traps cfs state-change-notif
snmp-server enable traps lldp lldpRemTablesChange
snmp-server enable traps cfs merge-failure
snmp-server enable traps aaa server-state-change
snmp-server enable traps hsrp state-change
snmp-server enable traps feature-control FeatureOpStatusChange
snmp-server enable traps sysmgr cseFailSwCoreNotifyExtended
snmp-server enable traps config ccmCLIRunningConfigChanged
snmp-server enable traps snmp authentication
snmp-server enable traps link cisco-xcvr-mon-status-chg
snmp-server enable traps vtp notifs
snmp-server enable traps vtp vlancreate
snmp-server enable traps vtp vlandelete
snmp-server enable traps bridge newroot
snmp-server enable traps bridge topologychange
snmp-server enable traps stpx inconsistency
snmp-server enable traps stpx root-inconsistency
snmp-server enable traps stpx loop-inconsistency
snmp-server enable traps system Clock-change-notification
snmp-server enable traps feature-control ciscoFeatOpStatusChange
snmp-server enable traps mmode cseNormalModeChangeNotify
snmp-server enable traps mmode cseMaintModeChangeNotify
snmp-server enable traps syslog message-generated
snmp-server community DevNetSandboxReadSNMP group network-operator
snmp-server community DevNetSandboxWriteSNMP group network-admin
callhome
  email-contact sch-smart-licensing@cisco.com
  destination-profile CiscoTAC-1 transport-method http
  destination-profile CiscoTAC-1 message-size 5000000
  destination-profile CiscoTAC-1 message-level 0
  destination-profile full_txt message-level 0
  destination-profile full_txt message-size 2500000
  destination-profile short_txt message-level 0
  destination-profile short_txt message-size 4000
  destination-profile CiscoTAC-1 index 1 http https://tools.cisco.com/its/service/oddce/services/DDCEService
  enable
  periodic-inventory notification interval 7
  periodic-inventory notification timeofday 08:00

fabric forwarding anycast-gateway-mac aabb.aabb.aabb
ip route 0.0.0.0/0 10.10.0.0
ip route 1.1.1.1/32 100.100.100.100
ip route 10.16.166.0/24 10.16.165.1
ip pim rp-address 1.2.3.4 group-list 224.0.0.0/4
ip pim rp-address 192.168.0.100 group-list 224.0.0.0/4
ip pim anycast-rp 1.2.3.4 192.168.0.1
vlan 1
vlan 20
vlan 100
  name staff_wifi
vlan 101
  name dev
vlan 102
  name test
vlan 103
  name store
vlan 104
  name prod
vlan 105
  name prod_test
vlan 106
  name deve_test
vlan 123
  name TEST
vlan 300
  name Python_VLAN300
vlan 301
  name Python_VLAN301
vlan 302
  name Python_VLAN302
vlan 303
  name Python_VLAN303
vlan 304
  name Python_VLAN304
vlan 305
  name Python_VLAN305
vlan 306
  name Python_VLAN306
vlan 307
  name Python_VLAN307
vlan 308
  name Python_VLAN308
vlan 309
  name Python_VLAN309
vlan 310
  name Python_VLAN310
vlan 400
vlan 666
  name LL_VLAN_DEMO666
vlan 777
  name Jackpot
vlan 889
  name Luckyplusone

ip as-path access-list ACL_AS seq 1 permit "65001"
route-map EDN_ENSESR_IN_V4 permit 10
  match ip address prefix-list ISP_DEFAULT_ROUTE
route-map EDN_ENSESR_IN_V4 permit 20
  match community EDN_COMMUNITIES
route-map EDN_ENSESR_IN_V4 deny 100
route-map EDN_ENSESR_IN_V6 permit 20
  match community EDN_COMMUNITIES
route-map EDN_ENSESR_IN_V6 deny 100
route-map EDN_ENSESR_OUT_V4 deny 10
  match ip address prefix-list ISP_DEFAULT_ROUTE
route-map EDN_ENSESR_OUT_V4 permit 20
  match community EDN_COMMUNITIES
route-map EDN_ENSESR_OUT_V4 deny 100
route-map EDN_ENSESR_OUT_V6 deny 10
  match ipv6 address prefix-list ISP_DEFAULT_ROUTEv6
route-map EDN_ENSESR_OUT_V6 permit 20
  match community EDN_COMMUNITIES
route-map EDN_ENSESR_OUT_V6 deny 100
route-map RM_TEST permit 4
  description set LP 200
  match as-path ACL_AS
  set local-preference 200
route-map WSN_MME_v6 permit 10
  set community 6167:6800
route-map rm-test1 permit 10
  match ip address prefix-list pfx-test1
  set ip next-hop 169.254.0.1
ip dhcp snooping
service dhcp
ip dhcp relay
ip dhcp relay information option
ipv6 dhcp relay
vrf context DEV
  ip route 192.0.2.0/24 192.0.2.22 tag 4 2
vrf context TEST
vrf context TESTING
  rd 100:1
  address-family ipv4 unicast
    route-target import 100:1
    route-target export 100:1
vrf context WSN
  ipv6 route 2001:4888:0:1000:363:28a:0:3/128 Vlan2421 2001:4888:33:2028:363:28:0:3
vrf context management
  ip route 0.0.0.0/0 10.10.20.254
hardware access-list tcam region racl 256
hardware access-list tcam region ifacl 256
vlan configuration 1111

nxapi http port 80
nxapi https port 443
nxapi ssl ciphers weak
nxapi ssl protocols TLSv1
no nxapi client certificate authentication
vdc resource template firstvdc


interface Vlan1

interface Vlan2
  no shutdown
  vrf member TEST

interface Vlan100
  no shutdown
  no ip redirects
  hsrp version 2
  hsrp 1000
    preempt
    priority 255
    ip 10.1.1.1

interface Vlan121
  no shutdown
  vrf member TESTING
  fabric forwarding mode anycast-gateway

interface Vlan123
  description Int-Vlan123_RR

interface Vlan150
  description linked data vlan

interface Vlan165
  no shutdown
  ip access-group fg-test in
  no ip redirects
  no ipv6 redirects
  hsrp version 2

interface Vlan201
  no shutdown

interface Vlan400
  no shutdown
  ip access-group tet-acl in
  ip access-group tet-acl out

interface Vlan3333
  bandwidth 124

interface port-channel3
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface port-channel11
  !#switchport
  switchport mode trunk
  switchport trunk allowed vlan 100-110,165
  !#no shutdown

interface port-channel21
  description BL1 to B07
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  lacp min-links 2
  !#no shutdown

interface port-channel22
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface port-channel50
  !#switchport
  switchport mode access
  switchport trunk allowed vlan 10
  !#no shutdown

interface nve1
  no shutdown
  source-interface loopback1
  member vni 3716135 mcast-group 231.1.1.1

interface Ethernet1/1
  description updated-Ethernet1/2.333
  !#shutdown
  no switchport

interface Ethernet1/2
  description updated-Ethernet1/2
  !#shutdown
  no switchport

interface Ethernet1/3
  !#switchport
  switchport mode access
  switchport trunk allowed vlan 10
  load-interval counter 1 300
  !#no shutdown

interface Ethernet1/4
  no switchport
  vrf member TEST
  no shutdown

interface Ethernet1/5
  description DevNet
  !#switchport
  switchport mode trunk
  switchport access vlan 30
  switchport trunk allowed vlan 1-100
  !#no shutdown

interface Ethernet1/6
  !#switchport
  switchport mode access
  switchport monitor
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/7
  description updated-Ethernet1/2.333
  no switchport
  mac-address 00bb.2cfc.1b08
  no shutdown

interface Ethernet1/8
  shutdown
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094

interface Ethernet1/9
  description updated-Ethernet1/2
  !#shutdown
  no switchport
  vrf member TEST

interface Ethernet1/10
  description server10
  shutdown
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094

interface Ethernet1/11
  description Server11
  !#shutdown
  no switchport

interface Ethernet1/12
  description Server12
  !#shutdown
  no switchport

interface Ethernet1/13
  description Link to esxi-01 port nic 0 for Virtualization
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/14
  description Link to esxi-01 port nic 1 for Virtualization
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/15
  description Link to esxi-01 port nic 2 for Virtualization
  !#switchport
  switchport mode trunk
  switchport trunk native vlan 20
  switchport trunk allowed vlan 5-10,15
  !#no shutdown

interface Ethernet1/16
  description Link to esxi-01 port nic 3 for Virtualization
  !#switchport
  switchport mode trunk
  switchport access vlan 30
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/17
  description Link to esxi-02 port nic 0 for Virtualization
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/18
  description Link to esxi-02 port nic 1 for Virtualization
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/19
  description Link to esxi-02 port nic 2 for Virtualization
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/20
  description Link to esxi-02 port nic 3 for Virtualization
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/21
  description Link to esxi-03 port nic 0 for Virtualization
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/22
  description Link to esxi-03 port nic 1 for Virtualization
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/23
  description Link to esxi-03 port nic 2 for Virtualization
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/24
  description Link to esxi-03 port nic 3 for Virtualization
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/25
  description Link to esxi-04 port nic 0 for Virtualization
  !#switchport
  switchport mode trunk
  switchport access vlan 300
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/26
  description Link to esxi-04 port nic 1 for Virtualization
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/27
  description Link to esxi-04 port nic 2 for Virtualization
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/28
  description Link to esxi-04 port nic 3 for Virtualization
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/29
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/30
  description uplink port
  !#switchport
  switchport mode access
  switchport access vlan 2
  !#switchport trunk allowed vlan 1-4094
  spanning-tree port type edge
  !#no shutdown

interface Ethernet1/31
  description Data & voice
  !#switchport
  switchport mode access
  switchport access vlan 2
  !#switchport trunk allowed vlan 1-4094
  spanning-tree port type edge
  !#no shutdown

interface Ethernet1/32
  description Data & voice
  !#switchport
  switchport mode access
  switchport access vlan 2
  !#switchport trunk allowed vlan 1-4094
  spanning-tree port type edge
  service-policy type qos input QOS-TEAMS
  !#no shutdown

interface Ethernet1/33
  description default
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/34
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/35
  !#switchport
  switchport mode access
  switchport access vlan 201
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/36
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/37
  description Configured by NETCONF
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/38
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/39
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/40
  description Data & Voice
  !#switchport
  switchport mode trunk
  switchport access vlan 10
  switchport trunk allowed vlan 1,600
  !#no shutdown

interface Ethernet1/41
  description Data & Voice
  no switchport
  ip access-group acl_ldx in
  no shutdown

interface Ethernet1/42
  description Data & Voice
  no switchport
  ip access-group test in
  no shutdown

interface Ethernet1/43
  description Data & Voice
  !#switchport
  switchport mode access
  switchport access vlan 30
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/44
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/45
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/46
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/47
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/48
  !#switchport
  switchport mode trunk
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/49
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/50
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/51
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/52
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/53
  description Configured by Ansible
  no switchport
  no shutdown

interface Ethernet1/54
  description Configured by Ansible
  no switchport
  no shutdown

interface Ethernet1/55
  description Configured by Ansible
  no switchport
  no shutdown

interface Ethernet1/56
  description Configured by Ansible
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/57
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/58
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/59
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/60
  description IPv6 ADDRESS
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/61
  !#switchport
  switchport mode access
  switchport monitor
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/62
  description SPAN Destination interface
  !#switchport
  switchport mode access
  switchport monitor
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/63
  description SPAN Source interface
  !#switchport
  switchport mode access
  switchport monitor
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface Ethernet1/64
  description --
  !#switchport
  switchport mode access
  !#switchport trunk allowed vlan 1-4094
  !#no shutdown

interface mgmt0
  description DO NOT TOUCH CONFIG ON THIS INTERFACE
  vrf member management
  ip address 10.10.20.95/24

interface loopback0
  no shutdown

interface loopback1
  no shutdown

interface loopback5
  no shutdown

interface loopback7
  no shutdown

interface loopback10
  description test
  no shutdown

interface loopback11
  description Sample Network Route Injection
  no shutdown

interface loopback12
  description Sample Network Route Injection
  no shutdown

interface loopback13
  description Sample Network Route Injection
  no shutdown

interface loopback14
  description Sample Network Route Injection
  no shutdown

interface loopback21
  description MSN Learning Lab Loopback
  no shutdown

interface loopback22
  description Interface added via NETCONF
  ip address 2.2.2.2/24
  no shutdown

interface loopback24
  no shutdown

interface loopback30
  description My Learning Lab Loopback
  no shutdown

interface loopback50
  description test123
  no shutdown

interface loopback55
  description Full intf config via NETCONF
  ip address 5.5.5.5/24
  no shutdown

interface loopback77
  description Configured using OpenConfig Model
  ip address 7.7.7.7/24
  no shutdown

interface loopback98
  description Interface added via NETCONF
  ip address 10.98.99.7/24
  no shutdown

interface loopback100
  description loopback int for routing
  shutdown

interface loopback101
  no shutdown

interface loopback123
  description test
  no shutdown

interface loopback201
  no shutdown

interface loopback222
  no shutdown

interface loopback234
  description Full intf config via NETCONF
  ip address 2.3.4.5/32
  no shutdown

interface loopback300
  no shutdown

interface loopback345
  description Configured using OpenConfig Model
  ip address 3.3.4.4/32
  no shutdown

interface loopback400
  description IPv6 ADDRESS
  no shutdown

interface loopback432
  description Configured using OpenConfig Model
  no shutdown

interface loopback555
  description Configured by Salt-Nornir using NETCONF
  no shutdown

interface loopback666
  description Loopback 666
  no shutdown

interface loopback667
  description Loopback 667
  no shutdown

interface loopback737
  description Full intf config via NETCONF
  no shutdown

interface loopback769
  description Configured using OpenConfig Model
  ip address 7.6.9.1/32
  no shutdown

interface loopback777
  description Interface added via NETCONF
  no shutdown

interface loopback778
  description Full intf config via NETCONF
  no shutdown

interface loopback980
  description Full intf config via NETCONF
  ip address 10.97.99.7/24
  no shutdown

interface loopback999
  description Full intf config via NETCONF
  ip address 9.9.9.9/32
  no shutdown

interface loopback1000
  no shutdown
line console
  exec-timeout 0
  terminal width  511
line vty
  exec-timeout 0
boot nxos bootflash:/nxos.9.3.3.bin sup-1
router ospf 1
router ospf 4
router ospf UNDERLAY
router bgp 1
  address-family ipv4 unicast
    network 8.0.0.0/8
    network 9.9.9.9/32
    network 10.99.99.0/24
  address-family vpnv4 unicast
  template peer-policy pol-test1
    send-community
    send-community extended
    route-map test1 in
  template peer-session session-test1
    remote-as 65412
  neighbor 10.10.10.1
    remote-as 100
    address-family vpnv4 unicast
  vrf TEST
    address-family ipv4 unicast
      network 8.0.0.0/8
event manager environment MAILSERVER "10.10.10.10"
event manager applet TEST-EEM1
  description "test"
event manager applet local-backup
  event cli match "copy running-config startup-config"
  action 1 cli copy running-config bootflash:/current_config.txt
  action 2 syslog priority emergencies msg Configuration Saved and copied to bootflash.
  action 3 event-default
event manager applet test4
monitor session 2
  source interface Ethernet1/63 both
  destination interface Ethernet1/62
monitor session 3
  description span_session_lab_6
  source interface Ethernet1/2 both
  source interface Ethernet1/20 rx
  destination interface Ethernet1/61
  no shut
ip dhcp snooping vlan 100,200,300,400
xml server timeout 1200
no priority-flow-control override-interface mode off
logging logfile messages 5 size 4194304
logging server 192.168.30.80 5 use-vrf management
logging monitor
logging module
no logging console

telemetry
  destination-group 100
    ip address 10.1.1.2 port 50102 protocol HTTP encoding JSON
  sensor-group 100
    data-source NX-API
    path "show lldp neighbors" depth unbounded
    path "show processes cpu" depth unbounded
  subscription 100
    dst-grp 100
    snsr-grp 100 sample-interval 30000

